#search{
    width: 98vw;
    margin: 6px 15px;
    justify-self: center;
    align-self: center;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search>input{
    width: 97%;
    height: 40px;
    border: none;
}
.content{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
}
.content>.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.card>*{
    margin: 3px 8px;
}
.tipo_dose{
    background-color: var(--primary_color);
    color: white;
    padding: 2px 2px;
}
.proxima_dose{
    width: 95%;
    text-align: right;
    color: red;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer>a>button{
    background-color: var(--button_color);
}