body{
    background-image: url(assets/index_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: var(--index_header_color);
}
body #content{
    display: flex;   
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 300px;
    margin-top: 100px;
}

#content p{
    font-size: 64px;
    text-align: center;
}
#content button{
    font-size: 32px;
    padding: 8px;
}
