body{
    background-image: url(assets/index_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
header{
    background-color: var(--index_header_color);
}
#content{
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#content p{
    font-size: 64px;
    text-align: center;
}
#content button{
    font-size: 32px;
    padding: 8px;
}
