#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 300px;
}
form{
    display: block;
}  

label{
    color: #fff;
    font-size: 36px;
}

input{
    height: 50px;
    width: 500px;
}